body {
  margin: 0;
  font-family: sans-serif;
}

.inside {
  margin: 0 auto;
  width: 940px;
}

.score {
  width: 40px;
  text-align: center;
  display: block;
  float: left;
}

.record-item {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;

  .meta {
    margin-top: 10px;

    a {
      color: #5c5c5c;
    }
  }
}

.info {
  float: left;
  width: 900px;
}

.nested-comments {
  margin-left: 20px;
}
