* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.inside {
  margin: 0 auto;
  width: 940px;
}

.record-item {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;

  .score {
    width: 60px;
    text-align: center;
    display: block;
    float: left;
  }

  .domain {
    color: #646464;
    font-size: 12px;
  }

  .thumbnail {
    float: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  .info {
    float: left;
    width: 830px;
    padding: 0 10px;
  }

  .meta {
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 0;
      list-style: none;
    }

    margin-top: 10px;

    a {
      color: #5c5c5c;
    }
  }
}

.comment {
  background: rgba(0, 0, 0, 0.06);
  border-left: 1px solid rgba(0, 0, 0, 0.1);

  .comment {
    margin: 20px 0 20px 20px;
  }
}

.comment-text {
  background: #FFF;
  border-left: 4px solid #ff5d09;
  padding: 0 30px 0 10px;
  overflow: hidden;
  border-right: 1px solid #e4e4e4;
  position: relative;

  .toggle-comment-visiblity {
    background: rgba(106, 148, 178, 0.34);
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;

    &.hidden-comments {
      background: #8a99ff;
    }
  }

  .comment-date {
    color: #9e9e9e;
    font-size: 13px;
    font-weight: normal;
  }
}

.detail-view {
  border: 1px solid #c2cbc1;
  padding: 10px;
  margin-bottom: 20px;

  .detail-title {
    margin: 0;
  }

  .score {
    font-weight: normal;
  }
}
