* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.inside {
  margin: 0 auto;
  width: 940px;
}

.score {
  width: 60px;
  text-align: center;
  display: block;
  float: left;
}

.record-item {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;

  .domain {
    color: #646464;
    font-size: 12px;
  }

  .thumbnail {
    float: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  .meta {
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 0;
      list-style: none;
    }

    margin-top: 10px;

    a {
      color: #5c5c5c;
    }
  }
}

.info {
  float: left;
  width: 830px;
  padding: 0 10px;
}

.comment-text {
  border: 1px solid #e7e7e7;
  border-left: 4px solid #FF5D09;
  padding-left: 10px;
}

.nested-comments {
  margin: 20px 0 20px 20px;
}
